@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
}

/* scrollbar invisible BUT scroll works */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

html {
  scrollbar-width: none; /* firefox */
}

